.code-copy {
    code {
        display: block;
        cursor: pointer;
        margin-bottom: 0.5rem;
    }

    .message {
        color: orangered;
        font-size: smaller;
        font-weight: bold;
    }
}
